<div class="correct-moth">
<<<<<<< HEAD
    <img src={{image}} alt="image of correct moth">
=======
    <img src="{{correctMoth.image}}" alt="image of correct moth">
>>>>>>> 2638a03cfe6fd6a21ffa1f5a4bffd394819e2cd6

    <p>{{fact}}</p>
</div>