<div class="correct-moth">
    <h1>{{name}}</h1>
<<<<<<< HEAD
    
    <img src="{{image}}" alt="image of correct moth">

=======
    <img src={{image}} alt="image of correct moth">
>>>>>>> main
    <p>{{fact}}</p>
</div>