<h1> YOU ARE CORRECT!</h1>

<div class="moth">
<img class="img-circle" src="{{correctMoth.image}}" alt="{{correctMoth.name}}">
  <h2>Name: {{correctMoth.name}}</h2>
  <div>Fact: {{correctMoth.fact}}</div>
  
  
</div>

